* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    /*BACKGROUND*/
  --main-bg-color: #efefef;
  --main-bg-color-on-hover:#e4e4e4;
  --secondary-bg-color: #53687E;

  /*TEXT CONFIGS*/
  --main-text-color: #0A0908;
}
